
              <h2 class="page-header"> Post Us <%= link_to "Add New", new_admin_post_path, class:'btn btn-primary' %> </h2>
              <% if @posts.exists? %>
                <table>
                <tr>
                  <th> Post Title </th>
                  <th> Post Category </th>
                  <th> Action </th>
                </tr>
              <% @posts.each do |post| %>
                <tr>
                  <td> <%= post.title %> </td>
                  <td> <%= post.image %></td>
                  <td> <%= post.tags %></td>
                  <td> <%= post.image %></td>
                  <td> <%= link_to 'Edit', edit_admin_post_path(post), class:'btn btn-primary' %>
                    <%= link_to 'delete', admin_post_path(post), class:'btn btn-primary',
                    method: :delete, data:{confirm:'are you sure?'} %>
                  </td>
                  </tr>
                <% end %>
              </table>
              <% else %>
              <p> There is no table </p>
              <% end %>